body, html {
	min-height: 100%;
	margin-bottom: 0;
}

body {
	background-image: url(../images/pinkdots.png);
	background-position: relative;
	background-attachment: center;
	background-repeat: repeat;
	background-color: #c2f9ff;
	font-family: 'Cutive Mono', monospace;
	font-size: 22px;
	line-height: 150%;
}

header {
	background-color: #c100e2;
	color: #fff;
	text-align: center;
	height: 100px;
}

p#head {
	font-size: 34px;
	letter-spacing: 3px;
	font-family: 'Monoton', cursive;
	padding-top: 10px;
}

p#under {
	font-size: 22px;
	font-family: 'Cutive Mono', monospace;
}

#ongo {
	background-color: #1bcc92;
	margin: 25% 20% 25% 20%;
	font-size: 22px;
	padding: 10px;
	letter-spacing: 1px;
	width: 60%;
	white-space: normal;
	word-wrap: break-word;
}

#ongo:hover {
	background-color: #7b2bb6;
	transition: all 1s;
}

#content, #container {
	min-height: 100%;
	min-width: 100%;
	margin: 30px auto -50px auto;
	clear: both;
}

#container:after {
	content: "";
	content: none;
	display: block;
	clear: both; 
}

#content-box {
	background-color: #ffC01b;
	padding: 40px;
	height: 100%;
	width: 70%;
	margin: 40px 15%;
	border-radius: 4px;
	box-shadow: 0 0 8px 3px #b0b0b0;
	text-align: center;
	font-size: 20px;
	color: #444;
	overflow: auto;
}

#content-box::after {
	content: "";
	content: none;
	display: block;
	clear: both; 
}

.hidden {
	background-color: transparent;
	color: transparent;
}

.hoverThing:hover {
	background-color: #0EB27D;
	padding: 10px;
}

p.answersP {
	padding: 10px;
}

p.questionP {
	margin-bottom: 30px;
}

hr {
	border-color: #0EB27D;
}

p.timerStyle {
	background-color: #1bcc92;
	padding: 13px;
	margin: 10px 15% 30px 15%;
}

p#copyright {
	margin-bottom: 0;
}

.imgStyle {
	width: 80%;
	margin-left: 10%;
	margin-right: 10%;
}

#img-result {
	padding: 20px;
}

footer#foot::before {
	content: "";
	content: none;
	display: block;
	clear: both; 
}

footer#foot {
	background-color: #9817b2;
	height: 70px;
	margin-top: 15%;
	text-align: center;
	color: #e7e7e8;
	font-size: 16px;
	padding: 18px;
	letter-spacing: 2px;
}